.nav.barra {
    background-color: #333;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-content: center;
    color: tomato;
}

.body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}